@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 1rem 0;
    background: black;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: black;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #12B456;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0,3s ease;
}
.navbar .menu li a:hover{
    color: #12B456;
}
.navbar.sticky .menu li a:hover{
    color: #12B456;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.home{
    display: flex;
    background-color: #000000;
    height: 100vh;
    background-size: cover;
    
    color: #fff;
    min-width: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #12B456;
    font-weight: 500;
} 
.home .home-content a{
    display: inline-block;
    color: white;
    background: #12B456;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #12B456;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #12B456;
    background:#000000;
}
section{
    padding: 100px 0;
}
.about, .services{
    font-family: 'Poppins', sans-serif;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 245px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -13px;
    left: 50%;
    font-size: 20px;
    color: #12B456;
    padding: 5px;
    background:#000000;
    transform: translateX(-50%);
}
.about .title::after{
    content: "data diri";
}
.about .about-content,
.services .serv-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #12B456;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    color:#000000;
    background: #12B456;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #12B456;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #12B456;
    background: none;
}
.skills{
    color: white;
    background: black ;

}
.skills .skills-content .card{
    width: calc(33% - 20px);
    background: black;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
}
.skills .skills-content .text{
    font-size: 3rem;
}
.contact .container-contact{
    font-size: 1.5rem;
}

#txtbox {
    font-size: 18pt;
    height: 50px;
    width : 300px;
}
#txtbox2 {
    font-size: 18pt;
    height: 100px;
    width : 300px;
}